
        /* font-family: "Space Mono", monospace;
        font-weight: 400;
        font-style: normal; */
       
            /* font-family: "Jersey 25", sans-serif;
            font-weight: 400;
            font-style: normal; */
          
          

        /* NORMALIZACION */
        *{
            padding:0;
            margin: 0;
            box-sizing: border-box;  /* esto mantiene el ancho alto a pesar de padding y border */ 
            font-family: "space mono",monospace;
            list-style: none; /*saca decoracion de los textos */
            text-decoration: none; /* saca subrayado de los links */
            color: aliceblue;
        }
        body{
            background-color: black;
        }
        
        
        header{
            position: fixed;/* esto hace que el header quede fijo en la parte superior */
            right: 0;
            top: 0;
            z-index:100 ;/* esto hace que se muestre por encima */
            width: 100%;
            display: flex; /* esto hace que los elementos se coloquen en linea  */
            align-items: center;/* centra verticalmente */
            justify-content: space-between;/* separa a los elementos */
            padding: 15px 3%;
            background-color: transparent;
        }
        .logo{
            font-size: 30px;
            font-weight: 800;/* esto es el grueso de la letra */
        }
        .navlist{
            display: flex;/* esto sirve para que los elementos del UL se pongan en linea  */

        }

        .navlist a{
            margin-left: 60px;
            font-size: 15px;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            transition: all .5s ease;

        }
        .navlist a:hover{
            border-bottom: 2px solid white; /* este es un subrayado que aparece cuando hacemos hover */

            /* display: none; /* lo pongo en none para que se vea solo cuando la pagina esta colapsada de forma orizontal */
        } 
        #menu-icon{
            display: none;/* lo pongo en none para que se vea solo cuando la pagina esta colapsada*/
        }
        #menu-icon{
            font-size: 35px;
            z-index: 101;/* para que este sobre el header */
            cursor: pointer; /* para que aparezca la manito cuando nos colocamos sobre el icono */


        }
        #menu-toggle{
          display: none;/* nunca queremos que se vea el chekcbox */
        } 
        .menu-icon-action{
            display: none;
        }
        .hero{
            height: 100%;
            width: 100%;
            min-height: 100vb;
            background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);/* fondo de color degradado*/
            position: relative;/* para que sea relativo al contendor (podemos usar top, righ , left, bottom*/
            display: grid;/* para que el hero se divida en dos columnas*/
            grid-template-columns: 1fr 1fr;/* las dos columnas*/
            align-items: center;/* para alinear verticalmente el hero*/
            gap: 2rem;/*halla espacio de 2rem entre las dos columnas*/


        }
        section{
            padding: 0 8%;



        }
   
       
        
        .hero-text h5{
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 5px;



        }

        .hero-text h4{
font-size: 18px;
font-weight: 600;
margin-bottom: 8px;


        }

        .hero-text h1{
            font-family: "Jersey 25", sans-serif;
            font-size: 50px;
            line-height: 1;
            margin: 0 0 8px;

        

        }
        .hero-text p{
            font-size: 80%;
            margin-bottom: 40px;
            line-height: 1.9;
        }
        .hero-img img{
            width: 400px;
            margin: 10% 0 0 10%;
            height: auto;
            transition: all 5s linear;/* esto hace que la transicion sea lineal  */
        }

        .hero-img img:hover{
            width: 450px;
            opacity: 0.6;
        }

        .hero-text a{
            display: inline-block;
            background-color: #4d4d4d;
            border: 1px solid transparent;
            padding: 15px 30px;
            line-height: 1.4;
            font-size: 15px;
            font-weight: 500;
            border-radius: 30px;
            text-transform: uppercase;
            transition: all .5s ease;
        }

        .hero-text a:hover{
            background-color: #385e70;
            border: 1px solid white;
            transform: translateX(8px);
        }
        .hero-text a.videos{
            background-color: black;
            border: 1px solid white;
            margin-left: 24px;
        }
        .hero-text a.videos i{
            vertical-align: middle;
            margin-right: 5px;
        }
        .icons{
            position: absolute;
            top: 50vh;
            padding: 0 3%;
            transform: translateY(-50%);

        }
        .icons i{
            display: block;
            margin: 26px 0;
            font-size: 24px;
            transition: all .5s ease;
        }
        .icons i:hover{
            font-size: 26px;
            transform: translateY(-5px);
            color: #4d4d4d;
        }
        .scroll-down{
            position: absolute;
            bottom: 6%;
            right: 3%;
        }
        .scroll-down i{
            display: block;
            padding: 12px;
            font-size: 19px;
            background-color: #21383d;
            border-radius: 28px;
            transition: all .3s ease;
        }
        .scroll-down i:hover{
            transform: translateY(-5px);
        }

        @media (max-width:1067px){
            .menu-icon-action{
                display: none;
                
            }
            #menu-icon{
                display: none;
            }
            section{
                padding: 0 3%;
                transition: .2s;
            }
            .icons{
                display: none;
            }
            .hero-text{
                padding-top: 0;
            }
            .hero-img{
                text-align: center;
            }
            .hero-img img{
                width: 80%;
                margin: 10% 0 0 10%;
            }
            .hero-text p{
                font-size: 70%;
            }
            .scroll-dow{
                display: none;
            }
            .hero-text h4{
                display: none;
            }
        }
        @media (max-width:840px){
            .menu-icon-action{
                display: block;
            }
            #menu-icon{
                display: block;
            }
            .hero{
                height: 100%;
                gap: 1rem;
                grid-template-columns: 1fr;
            }
            .hero-img img{
                margin: 0;
            }
            .hero-text{
                text-align: center;
                padding: 100px;
            }
            .navlist{ 
                position: absolute;
                top: 100%;
                right: -100%;
                width: 200px;
                height: 180px;
                background-color: #03272aef;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 18px;
                transition: all 1s ease-out;
            }
            .navlist a{
                display: block;
                margin: 7px 0;
            }
         #menu-toggle:checked + label.menu-icon-action + ul{
            right: 0;
         }
          
      
        }

        
  

